<p id="notice"><%= notice %></p>

<h1>Networks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @networks.each do |network| %>
      <tr>
        <td><%= network.name %></td>
        <td><%= link_to 'Show', network %></td>
        <td><%= link_to 'Edit', edit_network_path(network) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Network', new_network_path %>
