<%= form_with(model: card, local: true) do |form| %>
  <% if card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, 'Name*' %>
    <%= form.text_field :name, id: :card_name %>
  </div>

  <div class="field">
    <%= form.label :annual_fee, 'Annual Fee ($)' %>
    <%= form.number_field :annual_fee, id: :card_annual_fee, step: 0.01 %>
  </div>

  <div class="field">
    <%= form.label :network_id, 'Network*' %>
    <%= form.collection_select :network_id, Network.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :bank_id, 'Bank' %>
    <%= form.collection_select :bank_id, Bank.all, :id, :name, include_blank: '(None)' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
