<%= form_with(model: card, local: true) do |form| %>
  <% if card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :card_association_id, 'Association' %>
    <%= form.collection_select :card_association_id, CardAssociation.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :card_name %>
  </div>

  <div class="field">
    <%= form.label :annual_fee_cents %>
    <%= form.number_field :annual_fee_cents, id: :card_annual_fee_cents %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
